<% comments.each do |comment |%>
    <div id="comment">
        <%= link_to comment.account.full_name, profile_path(comment.account.user_name) %>
        <%= simple_format comment.message %>
    </div>
<% end %>